@import url(../CSS/reset.css);
/*========================================*/
@import url(../CSS/common.css);
/*========================================*/
@import url(../CSS/header.css);
/*========================================*/
@import url(../CSS/footer.css);
/*========================================*/
body._lock{
    overflow: hidden;
}
/*========================================*/
.page__home {}
.page__book {}
.page__event {}
.page__sure {}
.page__subscribe {}
/*========================================*/
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*========================================*/
.main{
    flex: 1 1 auto;
}
/*========================================*/
@media(max-width: 1199.98px){
}
@media(max-width: 990.98px){
}
@media(max-width: 767.98px){
}
/*=================HOME=======================*/
.home {
    padding-top: 100px;
}
.home__container { 
    background: url(../Image/home/01.jpg) right no-repeat;
    background-size: contain;
}
.home__body {}
.home-body__content {
    padding-top: 154px;
    padding-bottom: 154px;
}
.home__title,
.home__sub-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    color: #303F56;
}
.home__text {
    font-size: 22px;
    line-height: 32px;
    color: #303F56;
}
.home__search {
    background: #FFFFFF;
    box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}
.home-search__items {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    flex: 1 1 auto;
}
.home-search__items:hover{
    background: #F1F5F9;
}
.search-items__img {
    max-width: 100%;
}
.home-search__content {}
.search__title {
    line-height: 24px;
    color: #465569;
}
.search__text {
    line-height: 24px;
    color: #828282;
}
.search__button {
    padding: 18px 18px;
    margin-left: 10px;
}
.search-button__img {
    max-width: 100%;
}
@media(max-width: 990.98px){
    .home__sub-title {
        font-size: 70px;
        line-height: 80px;
    }
}
@media(max-width: 767.98px){
    .home__sub-title {
        font-size: 40px;
        line-height: 60px;
    }
    .home-body__content {
        padding-top: 120px;
    }
}
@media(max-width: 442.98px){
    .home__sub-title {
        font-size: 28px;
    }
    .home-body__content {
        padding-top: 70px;
    }
}
@media(max-width: 345.98px){
    .search__button {
        width: 100%;
        margin-left: 0;
    }
}
/*==================BOOK======================*/
.book {
    padding-top: 116px;
    padding-bottom: 50px;
}
.book__container {}
.book__body {}
.body__content {
    margin-bottom: 60px;
}
.book__title {}
.book__venue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.book-venue__test {
    padding: 10px;
}
.venue-test__content {
    border: 1px dashed rgba(255, 255, 255, 0.2);
    padding: 6px;
    display: flex;
    flex-direction: column;
}
.venue__link {
    padding: 5px 10px;
    max-width: 90px;
    white-space: nowrap;
}
.venue__link:not(:last-child){
    margin-bottom: 88px;
}
.test-content__link {
    color: rgb(255, 255, 255);
}
.test-content__link:hover{
    color: #EB5757;
    cursor: pointer;
}
.book-test__1 {
    background: url(../Image/book/01.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.book-test__2 {
    background: url(../Image/book/02.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.book-test__3 {
    background: url(../Image/book/03.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.book-test__4 {
    background: url(../Image/book/04.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.book-test__1:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Image/book/01.jpg);
    background-size: cover;
}
.book-test__2:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Image/book/02.jpg);
    background-size: cover;
}
.book-test__3:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Image/book/03.jpg);
    background-size: cover;
}
.book-test__4:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Image/book/04.jpg);
    background-size: cover;
}
@media(max-width: 1199.98px){
}
@media(max-width: 990.98px){
    .book__venue {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 767.98px){
    .book__venue {
        grid-template-columns: repeat(2, 1fr);
    } 
}
@media(max-width: 568.98px){
    .book__venue {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .book-test__1,
    .book-test__2,
    .book-test__3,
    .book-test__4{
        background-position: center;
    }
    .book {
        padding-top: 70px;
    }
}
/*===================EVENT=====================*/
.event {
    padding-top: 50px;
    padding-bottom: 50px;
}
.event__container {}
.event__body {}
.body__content {}
.book__title {}
.event__filter {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.event-filter__menu {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 0 0 282px;
    max-width: 282px;
    min-height: 100vh;
}
.filter-menu__body {
    padding: 20px;
}
.menu-body__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #303F56;
    margin-bottom: 20px;
}
.menu-body__list {}
.menu-body__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.menu-item__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #303F56;
    margin-bottom: 10px;
}
.menu-item__form {}
.form-item__items{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.form-item__items:not(:last-child){
    margin-bottom: 10px;
}
.menu-item__input {}
.menu-item__label {
    font-size: 15px;
    line-height: 24px;
    color: #828282;
}
.menu-body__link {
    font-size: 15px;
    line-height: 24px;
    color: #828282;
    margin-bottom: 10px;
}
.menu-body__link:hover{
    color: #EB5757;
    cursor: pointer;
}
.event-filter__content {}
.filter__content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
}
.filter__content:not(:last-child){
    margin-bottom: 44px;
}
.content-filter__card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 282px; 
}
.content-filter__card:hover .event-filter__link,
.content-filter__card:hover .card-price__link {
    transform: scale(1.1);
    transition: all 0.2s ease 0.2s;
}
.content-filter__card:hover .filter-card__img{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease 0.2s;
}
.event-filter__images {
    position: relative;
}
.event-filter__link {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 5px 10px;
}
.filter-card__img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}
.filter-card__content{
    padding: 20px;
}
.filter-card__text {}
.filter-card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}
.filter-card__subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #828282;
}
.filter-card__items {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 13px 0;
}
.filter-card__items:not(:last-child){
    margin-bottom: 10px;
}
.card-items__img {
    max-width: 100%;
}
.card-items__text {
    font-size: 14px;
    line-height: 24px;
    color: #475569;
}
.filter-card__price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.card-price__content {}
.card-price__link {
    padding-bottom: 2px;
    color: #EB5757;
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.card-price__link::before{
    display: block;
    content: url(../Image/event/004.svg);
}
.card-price__link:hover{
    color: #f8222265;
    cursor: pointer;
}
@media(max-width: 1219.98px){
    .filter__content{
        justify-content: center;
    }
}
@media(max-width: 990.98px){
    .event__filter {
        flex-direction: column;
    }
    .menu-body__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }
    .event-filter__menu {
        max-width: none;
        width: 100%;
        min-height: auto;
    }
    .form-item__items{
        column-gap: 1.5625rem;
    }
}
@media(max-width: 767.98px){
}
@media(max-width: 607.98px){
    .event {
        padding-top: 30px;
    }
}
/*====================SURE====================*/
.sure {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F8FAFC;
}
.sure__container {}
.sure__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}
.sure-body__images {
    display: flex;
    gap: 24px;
}
.sure-body__images > img:nth-child(1){
    padding-bottom: 4.5rem;
}
.sure-body__images > img:nth-child(2){
    padding-top: 4.5rem;
}
.sure-body__images{} 
.sure__img {
    border-radius: 10px;
}
.sure-body__content {}
.sure__content {
    margin-bottom: 1.5625rem;
}
.sure__title {
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 56px;
    color: #000000;
    margin-bottom: 1.25rem;
}
.sure__text {}
.sure__list {}
.sure-list__text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.sure-list__text:not(:last-child) {
    margin-bottom: 0.625rem;
}
.sure-list__text::before {
    content: "";
    display: block;
    background: #EB5757;
    width: 11px;
    height: 10px;
    transform: rotate(35deg);
    margin-top: 3px;
}
@media(max-width: 1219.98px){
}
@media(max-width: 990.98px){
    .sure__body {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media(max-width: 767.98px){
    .sure-body__images {
        justify-content: center;
        flex-wrap: wrap;
    }
    .sure__img {
        max-width: 100%;
    }
}
@media(max-width: 607.98px){
    .sure-body__images > img:nth-child(1){
        padding-bottom: 0;
    }
    .sure-body__images > img:nth-child(2){
        padding-top: 0;
    }
    .sure-list__text::before {
        transform: rotate(0);
        background-color: #EB5757;
        width: 0.1875rem;
    }
}
/*==================SUBSCRIBE======================*/
.subscribe {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
.subscribe__container {}
.subscribe__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.subscribe__image {}
.subscribe__img {
    max-width: 100%;
}
.subscribe__about {}
.subscribe__title {
    font-weight: 700;
    line-height: 48px;
    font-size: 2rem;
}
.subscribe__text {
    font-size: 1.25rem;
    line-height: 32px;
}
.subscribe__email {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    justify-content: flex-start;
}
.email__title {
    font-weight: 700;
    color: #000000;
    line-height: 24px;
}
.email__form {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.email__form input{
    line-height: 24px;
    color: #828282;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 15px 10px 17px 20px;
    width: 100%;
    outline: none;
}
.email-form__text {
    width: 100%;
}
.email-form__button {}
.email__button {
    padding: 0.9375rem 3.0625rem;
}
.email__text {
    line-height: 24px;
    color: #516279;
}
@media(max-width: 1219.98px){
}
@media(max-width: 990.98px){
    .subscribe__body{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 767.98px){
}
@media(max-width: 500.98px){
    .email__form {
        flex-direction: column;
    }
    .email-form__button {
        width: 100%;
    }
    .email__button {   
        width: 100%;
    }
}